body {
  font-size: 18px;
  font-family: Helvetica;
  color: white;
}

.header {
  font-size: 1rem;
  font-family: Helvetica;
  font-weight: bold;
  text-transform: uppercase;
  background-color: black;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.logo img {
  height: 1.5rem;
  margin-right: 1rem;
  margin-left: 0.5rem;
  opacity: 1;
}

.name p {
  margin-top: 0.66rem;
  margin-bottom: 0.66rem;
}


/* main banner */

.banner {
  background-image: url("../images/moto.jpeg");
  padding-top: 2.25rem;
  min-height: 25rem;
  width: 100%;

}

.innerbox {
  background-color: black;
  color: white;
  max-width: 20rem;
  display: block;
  margin-top: 9rem;
  padding: 2rem 3rem;
}

.title {
  font-family: Helvetica;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.main {
  font-family: Helvetica;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0.25rem;
}

/* nav */
.nav {
  background-color: firebrick;
}

#links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-weight: bold;
}


/* .products {
  display: flex;
  flex-direction: row;
  align-content: space-between;
} */

.products img {
  border: 4px solid black;
}

.products p {
  background-color: black;
  margin-top: 0;
}



/* location */
.location h2 {
  background-color: black;
}

.location p {
  color: black;
}


/* hours */
.hours h2 {
  background-color: black;
}

.hours p {
  color: black;
}


/* footer */
.footer {
  background-color: black;
  text-align: left;
  min-height: 5rem;
  display: flex;
  align-items: center;
}
